<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Admin del sitio -->
  <add key="AdminEmail" value="admin@rancho.com" />
  <add key="AdminPassword" value="RanchoElPato2026!" />

  <!-- Cloudinary (almacenamiento de imagenes) -->
  <add key="CloudinaryCloudName" value="dalqjuulw" />
  <add key="CloudinaryApiKey" value="699244967589444" />
  <add key="CloudinaryApiSecret" value="sL99FLhaY0vvNpxBcidMQv5ed8Q" />

  <!-- MercadoPago (obtener en developers.mercadopago.com) -->
  <add key="MercadoPagoAccessToken" value="REEMPLAZAR" />
  <add key="SiteBaseUrl" value="https://ranchoelpato.somee.com" />

  <!-- SMTP SomEE -->
  <add key="SmtpHost" value="smtp.RanchoElPato.somee.com" />
  <add key="SmtpPort" value="25" />
  <add key="SmtpUser" value="noreply@RanchoElPato.somee.com" />
  <add key="SmtpPass" value="REEMPLAZAR" />
  <add key="SmtpFrom" value="noreply@RanchoElPato.somee.com" />
</appSettings>
