<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Admin del sitio -->
  <add key="AdminEmail" value="admin@rancho.com" />
  <add key="AdminPassword" value="RanchoElPato2026!" />

  <!-- Cloudinary (almacenamiento de imagenes) -->
  <add key="CloudinaryCloudName" value="dalqjuulw" />
  <add key="CloudinaryApiKey" value="699244967589444" />
  <add key="CloudinaryApiSecret" value="sL99FLhaY0vvNpxBcidMQv5ed8Q" />

  <!-- SendGrid (envio de correos) -->
  <add key="SendGridApiKey" value="REEMPLAZAR" />
</appSettings>
