<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="RanchoDb"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=RanchoExperience;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30"
       providerName="System.Data.SqlClient" />
</connectionStrings>
