<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <!-- Reemplazar con los datos reales de SomEE al publicar -->
    <add name="RanchoDb"
         connectionString="workstation id=YOURDB.mssql.somee.com;packet size=4096;user id=YOURUSER;pwd=YOURPASS;data source=YOURDB.mssql.somee.com;persist security info=False;initial catalog=YOURDB"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
