<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
    Reemplaza la seccion completa para eliminar configSource
    y poner la cadena de conexion de produccion (SomEE) directamente.
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="RanchoDb"
         connectionString="workstation id=RanchoElPato.mssql.somee.com;packet size=4096;user id=Ejosue_SQLLogin_1;pwd=4hxyotbiql;data source=RanchoElPato.mssql.somee.com;persist security info=False;initial catalog=RanchoElPato;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--
    Inserta los secrets que en local vienen de appSecrets.config.
    appSecrets.config NO se sube al servidor, por eso se insertan aqui.
  -->
  <appSettings>
    <add key="AdminEmail"          value="admin@rancho.com"          xdt:Transform="Insert" />
    <add key="AdminPassword"       value="RanchoElPato2026!"         xdt:Transform="Insert" />
    <add key="CloudinaryCloudName" value="dalqjuulw"                 xdt:Transform="Insert" />
    <add key="CloudinaryApiKey"    value="699244967589444"           xdt:Transform="Insert" />
    <add key="CloudinaryApiSecret" value="sL99FLhaY0vvNpxBcidMQv5ed8Q" xdt:Transform="Insert" />
    <add key="SendGridApiKey"      value="REEMPLAZAR"                xdt:Transform="Insert" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error"
                  xdt:Transform="Replace" />
  </system.web>

  <system.webServer>
    <security xdt:Transform="Insert">
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory
      type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"
      xdt:Transform="Replace" />
  </entityFramework>

</configuration>
